<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.wifilistview"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/phone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.learn.devicediver.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learn.devicediver.WifiActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/wifi"
            android:label="@string/title_activity_wifi_scanner" >
        </activity>
        <activity
            android:name="com.learn.devicediver.WifiDetails"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_wifi_details" >
        </activity>
        <activity
            android:name="com.learn.devicediver.SensorsActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/sensors"
            android:label="@string/title_activity_sensors" >
        </activity>
        <activity
            android:name="com.learn.devicediver.SensorMonitorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_sensor_monitor" >
        </activity>
        <activity
            android:name="com.learn.devicediver.CellularActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/cell"
            android:label="@string/title_activity_cellular" >
        </activity>
    </application>

</manifest>